@import 'tailwindcss';
:root {
    --color-brand-50: #e6f5ff;
    --color-brand-100: #cceaff;
    --color-brand-200: #99d6ff;
    --color-brand-300: #66c1ff;
    --color-brand-400: #33adff;
    --color-brand-500: #0099ff;
    --color-brand-600: #007acc;
    --color-brand-700: #005c99;
    --color-brand-800: #003d66;
    --color-brand-900: #001f33;
}

.logo-bg {
    background: var(--color-brand-500)
}